/* Some pretty ancient CSS from when I was first learning but it does the job */

body,
html {
  margin: 0;
  background-color: #dadada;
  width: 100%;
  scroll-behavior: smooth;
}
.animate-bottom {
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 1s;
  animation-name: fade-in;
  animation-duration: 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#entire-content {
  display: none;
}

.progress-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10px;
  background: #ccc;
  z-index: 1000;
}
.progress-bar {
  height: 10px;
  background: #00a6ae;
  width: 0%;
}

.center-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.disclaimer {
  text-align: right;
  right: 1%;
  position: absolute;
  float: right;
  width: 22%;
  height: inherit;
  font-family: "Josefin Sans", sans-serif;
  padding: 10px 5px;
}

.fade-in {
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 10000;
  margin: 0;
  position: absolute;
}
.count-up-container {
  height: 56.5vh;
  width: 100%;
  display: flex;
}

/* About */
.start {
  height: 60vh;
  display: flex;
  flex-direction: column;
}
.start-text {
  margin: auto;
  font-family: "Josefin Sans", sans-serif;
}
.large-text {
  font-weight: 500;
  font-size: 20em;
}
.small {
  font-size: 0.1em;
  text-align: center;
}

/* Line */
.timeline {
  transform: translateY(5vh);
  width: inherit;
}
.main-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 5vw;
  z-index: 1000;
  border-radius: 20px;
}

#sandwich-start {
  background-color: #cb3a76;
  height: 130vh;
}
#set-up {
  background-color: #2e2e2e;
  height: 125vh;
}
#gregor-the-overlander {
  background-color: #d23337;
  height: 65vh;
}
#prophecy-of-bane {
  background-color: #108ecb;
  height: 65vh;
}
#curse-of-warmbloods {
  background-color: #80a34f;
  height: 65vh;
}
#mark-of-secret {
  background-color: #e7ae1f;
  height: 65vh;
}
#code-of-claw {
  background-color: #d6651f;
  height: 85vh;
}

.line-circle.large-circle {
  width: 15vw;
  height: 15vw;
  top: -5%;
}
.line-circle.large-circle .begin {
  width: 7.5vw;
  height: 7.5vw;
  font-size: 150%;
  border: 1vw solid #dadada;
  background-color: #8f1f4e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  transition: 0.2s all;
  font-family: "Josefin Sans", sans-serif;
  color: #dadada;
  text-transform: uppercase;
}
.line-circle.large-circle .begin:hover {
  border: 0.75vw solid #dadada;
  width: 8vw;
  height: 8vw;
  cursor: pointer;
  font-size: 180%;
}
.date {
  font-size: 34px;
}

/* Info Boxes */
.info-container {
  background-color: inherit;
  height: 0;
}
.line-circle {
  position: relative;
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  background-color: inherit;
}
.line-circle div {
  top: 25%;
  position: relative;
  width: 20vw;
  height: 5vw;
  background-color: inherit;
  border-radius: 30px;
}
.line-circle div span {
  color: #dadada;
  font-family: "Roboto", sans-serif;
  margin: 0;
  position: absolute;
  width: 80%;
}
.line-circle.left div {
  right: 175%;
}
.line-circle.right div {
  right: -75%;
}
.info-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 25vw;
}
.info-text.left {
  right: 130%;
}
.info-text.right {
  left: 105%;
}

.time-skip {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 600%;
  padding: 5% 0;
  text-transform: uppercase;
}
.footer {
  background-color: #1b1b1b;
  color: #4e4e4e;
  font-family: "Arial", sans-serif;
  padding: 11px;
  font-size: 13px;
  text-align: center;
  line-height: 20px;
  transform: translateY(10vh);
  margin: 0;
}
.footer a {
  color: #979797;
  text-decoration: none;
}
.footer a:hover {
  color: #dddddd;
  text-decoration: underline;
  transition: all 0.3s ease;
}
.footer a:visted {
  color: #979797;
}
